.skills {
  padding: 100px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.skills-title {
  width: 90%;
  text-align: start;
  font-weight: 400;
  font-size: 38px;
  margin-top: 0px;
  margin-bottom: 60px;
}

.skills-title-green {
  color: #15c196;
}

.skills-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  gap: 50px;
}

.tab {
  width: 90%;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px 28px;
  transition: all 0.3s ease;
  background-color: #00000073;
}

.tab-reverse {
  width: 90%;
  gap: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px 28px;
  transition: all 0.3s ease;
  background-color: #00000073;
}

.tab-title {
  margin: 0;
  width: fit-content;
  font-size: 30px;
  font-weight: 400;
  border-bottom: 2px double #15c196;
}

.tab-icons {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  gap: 40px;

  #bootstrap {
    color: #7911ee;
  }
  #react {
    color: #5ccfee;
  }

  #redux {
    color: #7046b2;
  }

  #node {
    color: #85be47;
  }

  #nest {
    color: #d5214a;
  }

  #javascript {
    color: #ead41c;
  }

  #typescript {
    color: #2e72bc;
  }

  #express {
    color: #f0f6fc;
  }

  #postgres {
    color: #30628a;
  }

  #mongo {
    color: #0fa14c;
  }

  #mysql {
    color: #005c83;
  }

  #sequelize {
    color: #42a7e3;
  }

  #prisma {
    color: #0b3147;
  }

  #git {
    color: #e44d30;
  }

  #github-skill {
    color: #f0f6fc;
  }

  #gitlab {
    color: #e24329;
  }

  #bitbucket {
    color: #0d63dd;
  }

  #trello {
    color: #026aa7;
  }

  #jira {
    color: #2684ff;
  }

  #css3 {
    color: #2e49d4;
  }

  #html5 {
    color: #c95437;
  }

  #swagger {
    color: #6a9500;
  }

  #js {
    color: #ead41c;
  }

  #ts {
    color: #2e72bc;
  }
}

@media (max-width: 1199px) {
  .skills-title {
    font-size: 36px;
  }

  .skills-tabs {
    gap: 45px;
  }

  .tab {
    padding: 18px 23px;
  }

  .tab-reverse {
    padding: 18px 26px;
  }

  .tab-title {
    font-size: 28px;
  }

  .tab-icons {
    font-size: 44px;
    gap: 35px;
  }
}


@media (max-width: 991px) {
  .skills-title {
    font-size: 34px;
  }

  .skills-tabs {
    gap: 40px;
  }

  .tab {
    padding: 16px 23px;
  }

  .tab-reverse {
    padding: 16px 23px;
  }

  .tab-title {
    font-size: 25px;
  }

  .tab-icons {
    font-size: 40px;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .skills-title {
    font-size: 30px;
  }

  .skills-tabs {
    gap: 30px;
  }

  .tab {
    padding: 14px 20px;
  }

  .tab-reverse {
    padding: 14px 20px;
  }

  .tab-title {
    font-size: 22px;
  }

  .tab-icons {
    font-size: 35px;
    gap: 28px;
  }
}

@media (max-width: 768px) {
  .skills-title {
    font-size: 30px;
  }

  .skills-tabs {
    gap: 30px;
  }

  .tab {
    gap:20px;
    width: 85%;
    padding: 14px 20px;
  }

  .tab-reverse {
    gap:20px;
    width: 85%;
    padding: 14px 20px;
  }

  .tab-title {
    font-size: 22px;
  }

  .tab-icons {
    font-size: 35px;
    gap: 25px;
  }
}



@media (max-width: 680px) {
  .skills-title{
    text-align: center;
    font-size: 24px;
  }
  .tab, .tab-reverse{
    flex-direction: column;
    width: fit-content;
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
  }
  .tab-icons{
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #00000073;
  }

  .skills-tabs {
    gap: 20px;
  }
}

@media (max-width: 540px) {
  .skills-title {
    width: 70%;
    font-size: 22px;
  }

  .tab-title {
    font-size: 20px;
  }

  .tab-icons {
    font-size: 30px;
    gap: 20px;
    padding: 18px 30px;
  }
}

@media (max-width: 428px) {
  .skills-title {
    width: 80%;
    font-size: 20px;
  }

  .tab-title {
    font-size: 18px;
  }

  .tab-icons {
    font-size: 26px;
    gap: 15px;
    padding: 13px 25px;
  }
}

