.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .names {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

.navbar .names > a {
    text-decoration: none;
    padding-left: 3px;
}

.navbar .names > h3{
    font-weight: 300;
}

.navbar .names > a .lastname {
    color: #15c196;
    padding-left: 3px;
    font-weight: 300;
  }

.navbar .buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
    padding-right: 5%;
}

.navbar .buttons .item {
  display: flex;
}

.navbar .buttons .item > h3 {
  font-weight: 300;
}

.navbar .buttons .item .number {
  color: #15c196;
  padding-right: 3px;
}
