.projects {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  padding: 50px 50px 30px 50px;
  border-radius: 20px;
  background-color: #00000073;
  gap: 30px;
  overflow: hidden;
}

.projects-indicators {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.1s;
  min-height: 30px;
}

.project-point {
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s;
}

.point-selected {
  color: #15c196;
  font-size: 30px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  gap: 50px;
  --slider-index: 0;
  transform: translateX(
    if(
      var(--slider-index) == "0",
      calc(var(--slider-index) * -100%),
      calc(var(--slider-index) * -100% - var(--slider-index) * 50px)
    )
  );
  transition: transform 0.5s ease-in-out;
}
