.about {
    width: 100%;
    min-height: 80vh;
    padding: 120px 0px;
}

.title-container{
    padding: 0 0 0 5%;
}

.title-text-container{
    padding: 0 0 0 5%;
    width: 80%;
}

.title-container .title {
    font-weight: 500;
    font-size: 52px;
    margin-top: 0px;
    margin-bottom: 34px;
}

.title-container .name {
    color: #15c196;
}

.title-text-container .title-text {
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1.3px;
    margin: 0px;
    opacity: 0.7;
    line-height: 1.5;
}

@media (max-width: 991px){
    .title-container .title {
        font-size: 46px;
    }
    
    
    .title-text-container .title-text {
        font-size: 20px;
    }
}

@media (max-width: 768px){
    .title-container .title {
        font-size: 40px;
        margin-bottom: 22px;
    }
    
    
    .title-text-container .title-text {
        font-size: 17px;
    }
}

@media (max-width: 540px) {
    
    .title-container .title {
        font-size: 34px;
        margin-bottom: 16px;
    }
    
    
    .title-text-container .title-text {
        font-size: 14px;
    }
}